<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>
      أكاديميا جلوب - لأبحاثٍ أكاديمية تليق بك... دعنا نترجمها باحتراف
    </title>
  </head>

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: "Cairo", Arial, sans-serif;
      background-color: #2c3e50;
      direction: rtl;
      text-align: right;
    }
    img {
      display: block;
      border: 0;
      outline: none;
      text-decoration: none;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  </style>

  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #e2e8f0;
      font-family: Arial, sans-serif;
      direction: rtl;
      text-align: right;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #e2e8f0; padding: 20px 8px"
    >
      <tr>
        <td align="center">
          <table
            width="100%"
            bgcolor="#ffffff"
            cellpadding="0"
            cellspacing="0"
            style="
              max-width: 600px;
              width: 100%;
              border-radius: 20px;
              overflow: hidden;
            "
          >
            <!-- header -->
            <tr>
              <td
                bgcolor="#1a365d"
                style="padding: 30px 10px; text-align: center; color: white"
              >
                <!-- Logo -->
                <img
                  src="https://academiaglobe.com/email/email_logo.png"
                  alt="أكاديميا جلوب"
                  width="250"
                  style="
                    display: block;
                    border-radius: 4px;
                    margin: 0 auto 15px auto;
                  "
                />
                <!-- Tagline -->
                <div style="font-size: 20px; opacity: 0.9">
                  شريكك في النشر الأكاديمي الدولي المصنف باحتراف
                </div>
              </td>
            </tr>
            <!-- greeting -->
            <tr>
              <td style="padding: 30px 15px; font-size: 16px; color: #555">
                <p
                  style="
                    margin-top: 0;
                    font-size: 22px;
                    font-weight: bold;
                    color: #2d3748;
                    margin-bottom: 25px;
                  "
                >
                  مرحباً،
                </p>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="
                    background-color: #fafafa;
                    border-right: 4px solid #3c7799;
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 18px;
                    line-height: 1.8;
                    color: #2d3748;
                  "
                >
                  <tr>
                    <td>
                      هل تبحث عن شريك محترف في الترجمة الأكاديمية؟ في أكاديميا
                      جلوب نساعدك على ترجمة بحثك بدقة واحترافية عالية تلبي
                      معايير النشر الدولي.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- services -->
            <tr>
              <td style="padding: 0 8px 30px 8px">
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    background-color: #ffffff;
                    border: 1px solid #d9d9d9;
                    border-radius: 12px;
                  "
                >
                  <tr>
                    <td
                      style="
                        padding: 25px 10px;
                        font-size: 18px;
                        font-weight: bold;
                        color: #1a365d;
                      "
                    >
                      🔹 خدماتنا تشمل:
                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 0 10px 15px 10px">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <td
                            style="
                              background-color: #f8fafc;
                              padding: 12px;
                              border-radius: 8px;
                              border-right: 3px solid #3c7799;
                              font-size: 16px;
                              margin-bottom: 10px;
                              line-height: 1.5;
                            "
                          >
                            🔤 الترجمة الأكاديمية للأبحاث العلمية، لغرض النشر
                            الدولي لترقية أعضاء هيئة التدريس
                          </td>
                        </tr>
                        <tr>
                          <td height="15"></td>
                        </tr>
                        <tr>
                          <td
                            style="
                              background-color: #f8fafc;
                              padding: 12px;
                              border-radius: 8px;
                              border-right: 3px solid #3c7799;
                              font-size: 16px;
                              line-height: 1.8;
                              margin-bottom: 10px;
                            "
                          >
                            🔤 ترجمة الدراسات السابقة من الإنجليزية إلى العربية
                            ومن العربية إلى الإنجليزية بصيغة أكاديمية علمية
                            وتربوية
                          </td>
                        </tr>
                        <tr>
                          <td height="15"></td>
                        </tr>
                        <tr>
                          <td
                            style="
                              background-color: #f8fafc;
                              padding: 12px;
                              border-radius: 8px;
                              border-right: 3px solid #3c7799;
                              font-size: 16px;
                              margin-bottom: 10px;
                              line-height: 1.4;
                            "
                          >
                            🔤 ترجمة متطلبات الاعتماد الأكاديمي المؤسسي
                            والبرامجي لمؤسسات التعليم العالي
                          </td>
                        </tr>
                        <tr>
                          <td height="15"></td>
                        </tr>
                        <tr>
                          <td
                            style="
                              background-color: #f8fafc;
                              padding: 12px;
                              border-radius: 8px;
                              border-right: 3px solid #3c7799;
                              font-size: 16px;
                              margin-bottom: 20px;
                              line-height: 1.4;
                            "
                          >
                            🔤 ترجمة وتعريب المواقع الإلكترونية لمؤسسات التعليم
                            العالي
                          </td>
                        </tr>
                        <tr>
                          <td height="15"></td>
                        </tr>
                        <tr>
                          <td
                            style="
                              background-color: #f8fafc;
                              padding: 12px;
                              border-radius: 8px;
                              border-right: 3px solid #3c7799;
                              font-size: 16px;
                              margin-bottom: 10px;
                              line-height: 1.4;
                            "
                          >
                            🔤 ترجمة الكتب في مختلف التخصصات الأكاديمية والعلمية
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- placeholder image -->
            <tr>
              <td align="center" style="padding: 0 10px 30px 10px">
                <img
                  src="https://academiaglobe.com/email/email2.jpeg"
                  alt="خدمات الترجمة الأكاديمية"
                  style="
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    border-radius: 12px;
                    display: block;
                  "
                />
              </td>
            </tr>

            <tr>
              <td align="center">
                <a
                  href="https://x.com/Academiaglobe_/status/1958208594740203640"
                  style="
                    background: #b91c1c;
                    color: white;
                    padding: 10px 30px;
                    border-radius: 50px;
                    font-weight: 600;
                    display: inline-block;
                    margin-bottom: 30px;
                  "
                >
                  ▶️ المزيد - شاهد الفيديو
                </a>
              </td>
            </tr>

            <!-- contact us -->
            <tr>
              <td style="padding: 0 10px 30px 10px">
                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    background-color: #ffffff;
                    border: 1px solid #d9d9d9;
                    border-radius: 12px;
                    text-align: center;
                    padding: 25px 10px;
                  "
                >
                  <tr>
                    <td
                      style="
                        font-size: 18px;
                        color: #234e52;
                        font-weight: bold;
                        padding-bottom: 20px;
                      "
                    >
                      📚 تواصل معنا الآن لترجمة أكاديمية دقيقة ومتخصصة
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a
                        href="https://wa.me/+201005699966"
                        target="_blank"
                        style="
                          background-color: #128c7e;
                          color: #ffffff;
                          text-decoration: none;
                          padding: 12px 40px;
                          border-radius: 40px;
                          font-size: 17px;
                          display: inline-block;
                        "
                        >💬 تواصل معنا</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- social media -->
            <tr>
              <td style="padding: 0 10px 30px 10px">
                <table
                  width="100%"
                  style="margin-top: 20px; margin-bottom: 20px"
                >
                  <tr>
                    <td
                      align="center"
                      style="font-size: 16px; color: #555; padding-bottom: 10px"
                    >
                      تابعونا على وسائل التواصل:
                    </td>
                  </tr>

                  <tr>
                    <td
                      align="center"
                      style="
                        font-size: 0px;
                        padding: 5px;
                        word-break: break-word;
                      "
                    >
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="float: none; display: inline-table"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 10px; vertical-align: middle">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="border-radius: 0; width: 30px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 25px;
                                        height: 30px;
                                        vertical-align: middle;
                                        width: 30px;
                                      "
                                    >
                                      <a
                                        href="https://academiaglobe.com/"
                                        target="_blank"
                                      >
                                        🌐
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="float: none; display: inline-table"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 10px; vertical-align: middle">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="border-radius: 0; width: 30px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        vertical-align: middle;
                                        width: 30px;
                                      "
                                    >
                                      <a
                                        href="https://www.facebook.com/academiaglobe/"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.legiit.com/click.html?x%3Da62e%26co%3Db3Su%26lc%3DEVW%26mc%3Dl%26s%3DO7h%26u%3Db%26z%3D3vUC6TX%26&amp;source=gmail&amp;ust=1755532400468000&amp;usg=AOvVaw1G-li8NA-fpbbbkLpLqCOl"
                                      >
                                        <img
                                          alt="Visit our Facebook page"
                                          height="30"
                                          src="https://academiaglobe-emails.netlify.app/imgs/face.png"
                                          style="
                                            border-radius: 0;
                                            display: block;
                                          "
                                          width="30"
                                          class="CToWUd"
                                          data-bit="iit"
                                        />
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="float: none; display: inline-table"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 10px; vertical-align: middle">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="border-radius: 0; width: 30px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        vertical-align: middle;
                                        width: 30px;
                                      "
                                    >
                                      <a
                                        href="https://x.com/Academiaglobe_"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.legiit.com/click.html?x%3Da62e%26co%3Db3Su%26lc%3DEV4%26mc%3Dl%26s%3DO7h%26u%3Db%26z%3D3vtzGRG%26&amp;source=gmail&amp;ust=1755532400468000&amp;usg=AOvVaw0mes7sSsMyqFlQYhuJY4NZ"
                                        ><img
                                          alt="Visit our Twitter page"
                                          height="30"
                                          src="https://academiaglobe-emails.netlify.app/imgs/x.png"
                                          style="
                                            border-radius: 0;
                                            display: block;
                                          "
                                          width="30"
                                          class="CToWUd"
                                          data-bit="iit"
                                      /></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="float: none; display: inline-table"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 10px; vertical-align: middle">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="border-radius: 0; width: 30px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        vertical-align: middle;
                                        width: 30px;
                                      "
                                    >
                                      <a
                                        href="https://www.instagram.com/academiaglobe/"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.legiit.com/click.html?x%3Da62e%26co%3Db3Su%26lc%3DEVO%26mc%3Dl%26s%3DO7h%26u%3Db%26z%3D3GejaAS%26&amp;source=gmail&amp;ust=1755532400468000&amp;usg=AOvVaw2CWNpMusRlA6H3IiVnNyA3"
                                        ><img
                                          alt="Visit our Instagram page"
                                          height="30"
                                          src="https://academiaglobe-emails.netlify.app/imgs/insta.png"
                                          style="
                                            border-radius: 0;
                                            display: block;
                                          "
                                          width="30"
                                          class="CToWUd"
                                          data-bit="iit"
                                      /></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="float: none; display: inline-table"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 10px; vertical-align: middle">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="border-radius: 0; width: 30px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        vertical-align: middle;
                                        width: 30px;
                                      "
                                    >
                                      <a
                                        href="https://www.linkedin.com/company/academia-globe"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.legiit.com/click.html?x%3Da62e%26co%3Db3Su%26lc%3DEVk%26mc%3Dl%26s%3DO7h%26u%3Db%26z%3D3GFEKKC%26&amp;source=gmail&amp;ust=1755532400469000&amp;usg=AOvVaw1cjf1-5Nc8bk_Edl9eET3o"
                                        ><img
                                          alt="Visit our LinkedIn page"
                                          height="30"
                                          src="https://academiaglobe-emails.netlify.app/imgs/link.png"
                                          style="
                                            border-radius: 0;
                                            display: block;
                                          "
                                          width="30"
                                          class="CToWUd"
                                          data-bit="iit"
                                      /></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="float: none; display: inline-table"
                      >
                        <tbody>
                          <tr>
                            <td style="padding: 0 10px; vertical-align: middle">
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                                style="border-radius: 0; width: 30px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-size: 0;
                                        height: 30px;
                                        vertical-align: middle;
                                        width: 30px;
                                      "
                                    >
                                      <a
                                        href="https://www.youtube.com/channel/UC2GvsunRuuXj10Nz1uZVH-A?view_as=subscriber"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.legiit.com/click.html?x%3Da62e%26co%3Db3Su%26lc%3DEf3%26mc%3Dl%26s%3DO7h%26u%3Db%26z%3D3UEM6Ub%26&amp;source=gmail&amp;ust=1755532400469000&amp;usg=AOvVaw0MOEpfPDIP-uaDkrF5150s"
                                        ><img
                                          alt="Visit our YouTube page"
                                          height="30"
                                          src="https://academiaglobe-emails.netlify.app/imgs/you.png"
                                          style="
                                            border-radius: 0;
                                            display: block;
                                          "
                                          width="30"
                                          class="CToWUd"
                                          data-bit="iit"
                                      /></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- footer -->
            <tr>
              <td
                align="center"
                style="
                  background-color: #384052;
                  color: #ffffff;
                  padding: 20px;
                  font-size: 15px;
                "
              >
                <div style="font-weight: bold; margin-bottom: 5px">
                  تحياتنا،
                </div>
                <div>
                  فريق أكاديميا جلوب - خبرة 15 سنة في الترجمة الأكاديمية
                </div>
              </td>
            </tr>
            <tr>
              <td style="color: white; text-align: center; padding: 30px">
                <div
                  style="
                    text-align: center;
                    font-size: 14px;
                    color: #777;
                    margin-top: 20px;
                    margin-bottom: 6px;
                  "
                >
                  إذا كنت لا ترغب في استلام رسائلنا مجددًا،
                </div>
                <a
                  href="https://backend-production-1e98.up.railway.app/unsubscribe?email={{EMAIL}}"
                  style="
                    color: #007bff;
                    text-decoration: none;
                    font-weight: bold;
                  "
                >
                  اضغط هنا لإلغاء الاشتراك
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
